asgiref==3.2.7
beautifulsoup4==4.9.0
bs4==0.0.1
click==7.1.1
dj-database-url==0.5.0
Django==2.2.24
django-better-admin-arrayfield==1.0.6
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-jet==1.0.8
gunicorn==20.0.4
joblib==0.14.1
nltk==3.5
psycopg2==2.8.4
pytz==2019.3
regex==2020.4.4
soupsieve==2.0
sqlparse==0.3.1
tqdm==4.45.0
whitenoise==5.0.1
