{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipy</title>
    <link rel="shortcut icon" href="{% static 'main/images/favicon_alpha.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'main/images/favicon.png' %}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'main/css/base_style.css' %}">
</head>
<body>
    {% block header %}
        <nav class="navbar sticky-top navbar-light">
            <a class="navbar-brand-custom" href="{% url 'home' %}">
                <i class="fas fa-cookie-bite fa-lg"></i>
                <span>Recipy</span>
            </a>

            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-default white-button" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <ul class="navbar-nav flex-row">
                    <li class="nav-item" style="padding-right: 10px;">
                        <a class="btn btn-sm btn-default white-button" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-default white-button" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    {% endblock header %}

    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>

    <!-- Scroll to top button -->
    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button"><i class="fas fa-lg fa-chevron-up"></i></a>
</body>

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'bower_components/waypoints/lib/jquery.waypoints.js' %}"></script>
<script src="{% static 'bower_components/waypoints/lib/shortcuts/infinite.js' %}"></script>

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });

        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>

{% block extra_script_1 %}
{% endblock extra_script_1 %}

{% block extra_script_2 %}
{% endblock extra_script_2 %}
</html>