{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    {% if not user.is_authenticated %}
        <div class="alert alert-danger col-lg-12" role="alert" style="margin-top: 15px;">
          Please <a href="{% url 'login' %}"><u><strong>Login</strong></u></a> or <a href="{% url 'register' %}"><u><strong>Register</strong></u></a> to use the amazing features of the <span class="brand-text">Recipy</span>
        </div>

        <form id="recipe-search-form" class="row justify-content-center" style="margin-top: 45px;">
            <div class="form-group col-md-10">
                <input type="text" class="form-control blue-input" name="search" placeholder="Enter text to search for.">
            </div>
            <div class="col-md-2">
                <button class="btn btn-info form-submit-button" style="width: 100%" type="submit">Search</button>
            </div>
        </form>
    {% else %}
        <!-- Search type select menu -->
        <ul class="nav nav-tabs justify-content-center" role="tablist" style="margin: 45px 0 0 0;">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#extended-search">Extended Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#simple-search">Simple Search</a>
            </li>
        </ul>

        <!-- Search type contents -->
        <div class="tab-content">
            <div id="extended-search" class="container tab-pane active"><br>
                <form id="recipe-search-form" class="row justify-content-center">
                    <div class="input-group mb-3 col-md-6 col-lg-5 has-feedback">
                        <input type="text" class="form-control green-input" name="include" placeholder="Enter a keyword to strictly include.">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary green-keyword-button" type="button">Add</button>
                        </div>
                    </div>
                    <div class="input-group mb-3 col-md-6 col-lg-5 has-feedback">
                        <input type="text" class="form-control red-input" name="exclude" placeholder="Enter a keyword to strictly exclude.">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary red-keyword-button" type="button">Add</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2">
                        <button class="btn btn-info form-submit-button" style="width: 100%" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div id="simple-search" class="container tab-pane fade"><br>
                <form id="recipe-search-form" class="row justify-content-center">
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control blue-input" name="search" placeholder="Enter text to search for.">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info form-submit-button" style="width: 100%" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- Include results -->
    <div id="recipe-list-container">
        {% include 'main/recipe_list.html' %}
    </div>
{% endblock body %}

{% block extra_script_1 %}
    <script>
        function loadWaypoints() {
            Waypoint.destroyAll();

            let infinite_element = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                handler: function (direction) {
                    this.destroy();
                },
                offset: 'bottom-in-view',

                onBeforePageLoad: function () {
                    $('.spinner-border').show();
                },
                onAfterPageLoad: function () {
                    $('.spinner-border').hide();
                }
            });
        }

        $(document).ready(function () {
            loadWaypoints();

            $(document).on('submit', '#recipe-search-form', function (event) {
                event.preventDefault();

                let submittedForm = $(this);
                $('#recipe-list-container').slideUp(function () { // Hide the recipes slowly
                    $.ajax({
                        url: "{% url 'home' %}",
                        method: 'GET',
                        data: submittedForm.serialize(),
                        success: function (response) {
                            $('#recipe-list-container').html(response);
                            $('#recipe-list-container').slideDown('slow'); // Display the recipes slowly
                            loadWaypoints();
                        }
                    });
                });
            });
        });
    </script>
{% endblock extra_script_1 %}