{% extends 'main/base.html' %}
{% load static %}

{% block body %}
    {% if not user.is_authenticated %}
        <div class="alert alert-danger col-lg-12" role="alert" style="margin-top: 15px;">
          Please <a href="{% url 'login' %}"><u><strong>Login</strong></u></a> or <a href="{% url 'register' %}"><u><strong>Register</strong></u></a> to use the amazing features of the <span class="brand-text">Recipy</span>
        </div>

        <form class="row justify-content-center" style="margin-top: 45px; margin-bottom: 15px;">
            <div class="form-group col-md-10">
                <input type="text" class="form-control blue-input" placeholder="Enter text to search for.">
            </div>
            <div class="col-md-2">
                <button class="btn btn-info form-submit-button" style="width: 100%" type="submit">Search</button>
            </div>
        </form>
    {% else %}
        <form class="row justify-content-center" style="margin-top: 45px; margin-bottom: 15px;">
            <div class="input-group mb-3 col-md-6 col-lg-5 has-feedback">
                <input type="text" class="form-control green-input" placeholder="Enter a keyword to strictly include.">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary green-keyword-button" type="button">Add</button>
                </div>
            </div>
            <div class="input-group mb-3 col-md-6 col-lg-5 has-feedback">
                <input type="text" class="form-control red-input" placeholder="Enter a keyword to strictly exclude.">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary red-keyword-button" type="button">Add</button>
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <button class="btn btn-info form-submit-button" style="width: 100%" type="submit">Search</button>
            </div>
        </form>
    {% endif %}

    <div class="row infinite-container">
        {% for recipe in recipes %}
            <div class="col-sm-6 col-md-6 col-lg-4 mt-4 infinite-item">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ recipe.photo_url }}" alt="{{ recipe.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <a href="{{ recipe.get_absolute_url }}" class="stretched-link w-100"><hr></a>
                        <p class="card-text text-justify">{{ recipe.description|truncatewords:20 }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" style="float: left;">{{ recipe.course|default:'-'|capfirst }}</small>
                        <small class="text-muted" style="float: right;">{{ recipe.difficulty|default:'-'|capfirst }} / {{ recipe.total_time|default:'-'|capfirst }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}

    <div class="d-flex justify-content-center" style="display:none; margin-top: 15px;">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endblock body %}

{% block extra_script %}
    <script src="{% static 'bower_components/waypoints/lib/jquery.waypoints.js' %}"></script>
    <script src="{% static 'bower_components/waypoints/lib/shortcuts/infinite.js' %}"></script>
    <script>
        $(document).ready(function () {
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                handler: function (direction) {

                },
                offset: 'bottom-in-view',

                onBeforePageLoad: function () {
                    $('.spinner-border').show();
                },
                onAfterPageLoad: function () {
                    $('.spinner-border').hide();
                }
            });
        });
    </script>
{% endblock %}