{% extends 'main/base.html' %}

{% load recipy_extras %}

{% block body %}
    {% if not user.is_authenticated %}
        <div class="alert alert-danger col-lg-12" role="alert" style="margin-top: 15px;">
            Please <a href="{% url 'login' %}"><u><strong>Login</strong></u></a> or <a href="{% url 'register' %}"><u><strong>Register</strong></u></a> to use the amazing features of the
            <span class="brand-text">Recipy</span>
        </div>
    {% endif %}

    <!-- Portfolio Item Heading -->
    <div class="row justify-content-md-center">
        <div class="col col-md-auto" style="text-align: center;">
            <h2>{{ recipe.title }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-8">
            <img class="img-fluid w-100" style="display: block;" src="{{ recipe.photo_url }}" alt="{{ recipe.title }}">
        </div>
        <div class="col-md-12 col-lg-4">
            <p class="text-justify" style="padding-top: 15px;">{{ recipe.description|read_more:'70' }}</p>
            <hr>
            <p>
                <span class="font-weight-bold">Type:</span>
                <span style="float: right;">{{ recipe.type_of_dish|default:'-'|capfirst }}</span>
            </p>
            <hr>
            <p>
                <span class="font-weight-bold">Course:</span>
                <span style="float: right;">{{ recipe.course|default:'-'|capfirst }}</span>
            </p>
            <hr>
            <p>
                <span class="font-weight-bold">Difficulty:</span>
                <span style="float: right;">{{ recipe.difficulty|default:'-'|capfirst }}</span>
            </p>
            <hr>
            <p>
                <span class="font-weight-bold">Total Time:</span>
                <span style="float: right;">{{ recipe.total_time|default:'-'|capfirst }}</span>
            </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>

            <h3>Instructions</h3>
            <ul>
                {% for instruction in recipe.instructions %}
                    {% if instruction|endswith:':' %}
                        <li class="font-weight-bold" style="list-style-type: none; margin-top: 15px;">{{ instruction }}</li>
                    {% else %}
                        <li class="text-justify">{{ instruction }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Related Projects Row -->
    <h3>Related Recipes</h3>

    <div class="row" style="margin-top: 30px;">
        {% for recipe in related_recipes %}
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <a href="{{ recipe.get_absolute_url }}">
                    <img class="img-fluid" src="{{ recipe.photo_url }}" alt="{{ recipe.title }}">
                    <div class="carousel-caption">
                        <h6>{{ recipe.title }}</h6>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock body %}

{% block extra_script %}
    <script>
        $(".read-more-button").click(function (e) {
            e.preventDefault();
            let readMoreLink = $(this);
            readMoreLink.parent().find('.more-text').show();
            readMoreLink.parent().find('.to-be-hide').hide();
        });
    </script>
{% endblock %}